<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
     <!--<add name="POS" connectionString="server=192.168.0.3;User Id=Ultimate;password=ultimateadmin@2019feb;database=posisdb;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
    <!--<add  DESKTOP-AJNOPUO name="POS.My.MySettings.DBConn" connectionString="server=192.168.0.207;User Id=root;Password=admin@2018dec;database=posisdb;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="POS" connectionString="server=localhost;User Id=Ultimate;password=ultimateadmin@2019feb;database=orders;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="POS" connectionString="server=localhost;Port=3307;User Id=root;password=admin;database=mydb;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="POS" connectionString="server=localhost;Port=3307;User Id=root;password=admin;database=bes;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="POS" connectionString="server=localhost;Port=3307;User Id=root;password=admin;database=besdbfinal;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
    <add name="POS" connectionString="server=localhost;Port=3306;User Id=root;password=admin;database=besdbdb;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />
    <!--<add name="POS" connectionString="server=192.168.0.5;User Id=lmcp;password=Utaio@2019;database=besdb;Persist Security Info=True" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="True">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.19.0" newVersion="8.0.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
